{% extends "global/base.html" %}  {# global main template is load #}
{% load static  %}

{% block page_title %}
Python-Django
{% endblock %}

{% block css_style %}
    <!--Tag link para o arquivo estático, note que não há a tag style -->
    <link rel="stylesheet" href="{% static 'app_main/css/home.css' %}"> {# local css file is loaded #}
{% endblock %}

{% block content %}   {# body content #}
    <h1 class="fac">Django Boillerplate - Home</h1>  {# class fac from global css file #}
{% endblock %}
