<!DOCTYPE html>  
<html lang="pt-BR">
    <head>  
        <meta charset="utf-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title> Python-Django </title>
    </head>
    <body>
        {% if var == True  %}        
             <h2>Bloco verdadeiro</h2><br>
             <h2>Sua variável vale: {{var}}</h2>
        {% else %}        
             <h2>Bloco falso</h2><br>
             <h2>Sua variável vale: {{var}}</h2>             
        {% endif %}        
    </body>
</html>

