{% extends "global/base.html" %}  {# global main template is load #}
{% load static  %}

{% block page_title %}
Python-Django
{% endblock %}

{% block css_style %}
    <!--Tag link para o arquivo estático, note que não há a tag style -->
    <link rel="stylesheet" href="{% static 'app_main/css/home.css' %}"> {# local css file is loaded #}
{% endblock %}

{% block content %}   {# body content #}
    <h1>Django Framework - Home</h1>
    <br>
    <p>Lorem ipsum dolor sit amet. Id illum molestias aut quaerat repellat At
        dolores nobis vel odit voluptatem ut earum dolores. Qui omnis distinctio
        ex voluptatem nihil in porro voluptate aut aliquam minima ea vero
        possimus ea itaque voluptate. Ea architecto omnis qui repudiandae
        laboriosam aut error nemo At possimus similique eum ipsum autem.
        Aut deserunt quam ut quaerat rerum est voluptatem cumque nam soluta
        dolores ut quos iste sed quia culpa.</p> <br>

    <p>Aut soluta repudiandae a asperiores numquam vel similique aspernatur.
         Et autem illum eos soluta commodi ad sapiente eaque. Et exercitationem
         repellendus ea quia blanditiis rem nihil galisum est fuga facilis aut
         minus dolorum sit Quis excepturi et esse cupiditate?</p> <br>

    <p>Et voluptas voluptas ad sequi voluptatem quo natus accusamus ut dolor
        aliquam. Et beatae culpa qui voluptas error qui quos temporibus hic
        obcaecati maxime et sint iste qui quas provident. Sit quibusdam rerum
        id dolore voluptatum hic tenetur nesciunt aut suscipit autem qui
        ratione velit aut voluptatem dicta!</p> <br>

    <p>Lorem ipsum dolor sit amet. Id illum molestias aut quaerat repellat At
        dolores nobis vel odit voluptatem ut earum dolores. Qui omnis distinctio
        ex voluptatem nihil in porro voluptate aut aliquam minima ea vero
        possimus ea itaque voluptate. Ea architecto omnis qui repudiandae
        laboriosam aut error nemo At possimus similique eum ipsum autem.
        Aut deserunt quam ut quaerat rerum est voluptatem cumque nam soluta
        dolores ut quos iste sed quia culpa.</p> <br>

    <p>Aut soluta repudiandae a asperiores numquam vel similique aspernatur.
         Et autem illum eos soluta commodi ad sapiente eaque. Et exercitationem
         repellendus ea quia blanditiis rem nihil galisum est fuga facilis aut
         minus dolorum sit Quis excepturi et esse cupiditate?</p> <br>

    <p>Et voluptas voluptas ad sequi voluptatem quo natus accusamus ut dolor
        aliquam. Et beatae culpa qui voluptas error qui quos temporibus hic
        obcaecati maxime et sint iste qui quas provident. Sit quibusdam rerum
        id dolore voluptatum hic tenetur nesciunt aut suscipit autem qui
        ratione velit aut voluptatem dicta!</p> <br>

    <p>Et voluptas voluptas ad sequi voluptatem quo natus accusamus ut dolor
        aliquam. Et beatae culpa qui voluptas error qui quos temporibus hic
        obcaecati maxime et sint iste qui quas provident. Sit quibusdam rerum
        id dolore voluptatum hic tenetur nesciunt aut suscipit autem qui
        ratione velit aut voluptatem dicta!</p> <br>
{% endblock %}
